.filter-bar {
    position: relative;
    -webkit-box-shadow: inset 0 1px 0 rgb(189 194 199 / 50%);
    box-shadow: inset 0 1px 0 rgb(189 194 199 / 50%);
    border-top: 2px solid #EEEEEE;

    &__button {
        cursor: pointer;
        border: 0;
        color: #000000;
        font-size: 16px;
        background-color: #D8D8D8;
        width: 100%;
        height: 45px;
        text-align: left;

        .hamburger {
            width: 30px;
            height: 3px;
            background: #FCFCFC;
            position: absolute;
            box-shadow: 0 2px 5px rgba(189, 171, 171, 0.2);
            transition: 0.5s;
        }

        .hamburger:before,
        .hamburger:after {
          content: '';
          position:absolute;
          width: 30px;
          height: 3px;
          background:#FCFCFC;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition:0.5s;
        }

        .hamburger:before {
          top: -8px;
        }

        .hamburger:after {
          top: 8px;
        }
    }

    &__button.active {
        .hamburger {
            background:rgba(0,0,0,0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        }
        .hamburger:before {
            top: 0;
            transform:rotate(135deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
        .hamburger:after {
            top: 0;
            transform:rotate(225deg);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    &__content {
        overflow: hidden;
        max-height: 0;
        margin: 0 auto;
        -webkit-transition: all 0.3s ease;

        &.active{
            max-height: 500px;
            overflow: initial;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__content-input {
        margin-bottom: 10px;

        & input{
            width: 100%;
            border: 1px solid #cccccc;
            border-radius: 4px;
            padding: 6px;
        }
    }

    &__order {
        position: absolute !important;
        top: 3px;
        right: 5px;
    }
}
